	body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	font-weight: lighter;
	}
	.top {
	background-size: cover;
	height: 90vh;
	opacity: 90%;
	}
	.menu img {
	float: left;
	width: 300px;
	padding-left: 90px;
	}
	.bgpink {
	background-image: url("../css/image/ss.jpg	");
	background-size: 100% 100%;
	height: 90vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 100%;
	z-index: -3;
	}
	.menu ul {
	list-style: none;
	display: inline-flex;
	float: right;
	padding-right: 80px;
	padding-top: 20px;
	}

	.menu ul li {
	background: #1900ff;
	border-radius: 50px;
	padding: 15px;
	}
	.menu ul li a {
	text-decoration: none;
	cursor: pointer;
	color: white;
	}
	.menu ul li a:hove {
	color: #1caae9;
	}
	.text {
	text-align: right;
	padding-right: 90px;
	padding-top: 230px;
	color: white;
	font-weight: lighter;
	}
	.text h1 {
	font-size: 20px;
	color: red;
	}
	.text p {
	font-size: 25px;
	color: red;
	}
	.text span {
	background: #e91c1c;
	border-radius: 50px;
	padding: 15px;
	}
	.text span a {
	text-decoration: none;
	color: white;
	border: 1px solid transparent;
	padding-top: 20px;
	}
	#jurusan {
	padding-top: 50px;
	text-align: center;
	}
	#jurusan h2 h3 p {
	font-weight: lighter;
	}
	#jurusan p {
	opacity: 70%;
	}
	.keahlian img {
	width: 50px;
	}
	.keahlian {
	padding-top: 50px;
	}
	.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
	margin: auto;
	}
	.depan {
	opacity: 70%;
	padding-top: 50px;
	}
	.depan img {
	width: 100%;
	z-index: -3;
	height: 300px;
	}
	.struktur img {
	width: 100px;
	}
	.pengurus {
	text-align: center;
	font-weight: lighter;
	padding-top: 50px;
	}
	.pengurus h1 {
	opacity: 80%;
	}
	.pengurus p {
	opacity: 50%;
	}
	.grid2 {
	-template-columns: 1fr 1fr;
	display: grid;
	grid-template-columns: 1fr 1fr;
	}
	.subscribe {
	background: rgb(248, 30, 150);
	height: 100px;
	color: white;
	font-weight: lighter;
	text-align: center;
	opacity: 90%;
	padding-top: 20px;
	padding-bottom: 40px;
	}
	.subscribe a {
	border: 1px solid transparent;
	background: red;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	}
	.galery {
		text-align: center;
		padding-top: 100px;
	}
	.grid9 {
		-template-columns: 1fr 1fr;
		display: grid;
		grid-template-columns: 1fr 1fr;
		}
	.berita {
	text-align: center;
	padding-top: 100px;
	}

	.grid4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 90%;
	margin: auto;
	}
	.grid3 p h2 {
	text-align: left;
	}
	.grid3 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
	}
	.grid3 a {
	text-decoration: none;
	border: 1px solid;
	padding: 10px;
	background: #1caae9;
	border-radius: 50px;
	color: white;
	}
	.grid3 img {
	border-radius: 4px 4px 0 0;
	}
	.des {
	width: 20%;
	padding-left: 120px;
	color: rgb(255, 0, 0);
	padding-top: 80px;
	}
	.footer {
	background: black;
	color: rgb(255, 255, 255);
	opacity: 100%;
	padding: 20px;
	padding-left: 110px;
	bottom: 10px;
	}
	.footer p {
	opacity: 20%;
	}
	.footer a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	}
